<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>NFL Gambling</title>
    </head>

    <body>
        <div id="main">
            <header class="header">
                <nav>
                    <h1>NFL Gambling Tool</h1>
                    <ul>
                        <li><a href="{{ url_for('win_trends') }}">Win Trends</a></li>
                        <li><a href="{{ url_for('ats_trends') }}">Against the Spread Trends</a></li>
                        <li><a href="{{ url_for('ou_trends') }}">Over/Under Trends</a></li>
                    </ul>
                </nav>
            </header>
            <div id="table">
                <table>
                    <tr>
                        {% for header in headings %}
                        <th>{{ header }}</th>
                        {% endfor %}
                    </tr>
                    {% for item in data %}
                    <tr>
                        <td>{{item.team_name}}</td>
                        <td>{{item.win_loss}}</td>
                        <td>{{item.win_percentage}}</td>
                        <td>{{item.margin_of_victory}}</td>
                        <td>{{item.ats_plus_minus}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>